/* TYPOGRAPHY */

	/* SANS */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+HK|Noto+Sans+JP|Noto+Sans+KR|Noto+Sans+SC|Noto+Sans+TC&display=swap');

/*	font-family: 'Noto Sans', sans-serif;		<-- Latin, Cyrillic, Devanagari, Greek
	font-family: 'Noto Sans SC', sans-serif;	<-- Chinese (Simplified)
	font-family: 'Noto Sans TC', sans-serif;	<-- Chinese (Traditional)
	font-family: 'Noto Sans HK', sans-serif;	<-- Chinese (Hong Kong)
	font-family: 'Noto Sans JP', sans-serif;	<-- Japan
	font-family: 'Noto Sans KR', sans-serif;	<-- Korean
	*/

@font-face {
  font-family: noto-sans-hebrew;
  font-weight: normal;
  src: url(/fonts/NotoSansHebrew-Regular.ttf);
}

@font-face {
  font-family: noto-sans-hebrew;
  font-weight: bold;
  src: url(/fonts/NotoSansHebrew-Bold.ttf);
}

@font-face {
  font-family: noto-sans-arabic;
  font-weight: normal;
  src: url(/fonts/NotoSansArabic-Regular.ttf);
}

@font-face {
  font-family: noto-sans-arabic;
  font-weight: bold;
  src: url(/fonts/NotoSansArabic-Bold.ttf);
}

	/* SERIF */

@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Noto+Serif+JP|Noto+Serif+KR|Noto+Serif+SC|Noto+Serif+TC&display=swap');

/*	font-family: 'Noto Serif', serif;		<-- Latin, Cyrillic, Devanagari, Greek
	font-family: 'Noto Serif SC', serif;	<-- Chinese (Simplified)
	font-family: 'Noto Serif TC', serif;	<-- Chinese (Traditional)
	font-family: 'Noto Serif JP', serif;	<-- Japan
	font-family: 'Noto Serif KR', serif;	<-- Korean
	*/

@font-face {
  font-family: noto-serif-hebrew;
  font-weight: normal;
  src: url(/fonts/NotoSerifHebrew-Regular.ttf);
}

@font-face {
  font-family: noto-serif-hebrew;
  font-weight: bold;
  src: url(/fonts/NotoSerifHebrew-Bold.ttf);
}

@font-face {
  font-family: noto-naskh-arabic;
  font-weight: normal;
  src: url(/fonts/NotoNaskhArabic-Regular.ttf);
}

@font-face {
  font-family: noto-naskh-arabic;
  font-weight: bold;
  src: url(/fonts/NotoNaskhArabic-Bold.ttf);
}

@font-face {
  font-family: noto-emoji;
  src: url(/fonts/NotoEmoji-Regular.ttf);
}
 
/* FOR OTHER LANGUAGES PLEASE VISIT https://www.google.com/get/noto/ */

/* TEXT */

body {
	font-family: 'Noto Serif', Georgia, serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	font-size:calc(11px + .5vw);
	line-height: 1.3;

	margin: 1em;
	margin-bottom: 0;
	overflow: clip;
}

p {
	font-size: 1em;
	margin: 0;
	margin-bottom: .75em;
}

i, em {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

a, h1, h2, h3, h6 {
	font-family: "Noto Sans", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	/*background: yellow;*/
	color: gray;
}

p a {
	font-weight: bold;
	font-size: .9em;
}

h1 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1em;
}

h2 {
	font-size: 1em;
	font-weight: bold;
}

h3 {
	font-size: 1em;
	font-weight: normal;
}

h6 {
	font-size: .6em;
	margin: 2em 0;
}

#main-nav a {
	font-size: .9em;
	margin-bottom: .5em;
}

#toc-menu p {
	font-family: 'Noto Serif', Georgia, serif;
	font-size: .9em;
	margin: 0;
}

#toc-menu a {
	margin-bottom: .75em;
}

#bottom {
	font-family: "Noto Sans", Helvetica, Arial, sans-serif;
	font-size: .75em;
}

.space {
	display: inline-block;
	width: 3em;
}


/* STRUCTURE */

#container, #text-container{
	display: flex;
}

#main-menu, #toc-menu, #translation-piece, #original-piece, #essay-left, #essay-right {
	/*border: .25px solid black;*/
	overflow: scroll;

	padding: 20px;
	padding-bottom: 60px;
}

/*https://stackoverflow.com/questions/2486387/how-to-hide-the-scrollbar-using-javascript*/
#main-menu::-webkit-scrollbar, #toc-menu::-webkit-scrollbar, #translation-piece::-webkit-scrollbar, #original-piece::-webkit-scrollbar, #essay-left::-webkit-scrollbar, #essay-right::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#bottom {
	overflow: hidden;
	padding: 20px;

}

#sidebar {
	opacity: 1;
	flex: 2.75;
	display: grid;
	grid-template-rows: 6fr 1fr;
	grid-template-columns: 1fr 1.5fr;
	height: calc(100vh - 1em); /*subtract top body margin*/
}

#main-menu {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

#toc-menu {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

#bottom {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}

#text-container {
	flex: 6;
}

#translation-piece, #original-piece {
	height: calc(100vh - 80px - 1em); /*subtract top and bottom padding on the pieces and top body margin*/
	flex: 1;
}

#essay-left {
	flex: 4;
}

#essay-right {
	flex: 2;
}

#right-margin {
	flex: .25;
}

.top {
	height: 6em;
}

.body-text {
	position: relative;
	top: 1em;
}

#piece-nav-left, #piece-nav-right {
	height: 2em;
	position: relative;
	top: 2em;

	font-size: .9em;
}

#piece-nav-right {
	display: none;
}

/*NAVIGATION BARS*/
nav a {
	display: block;
}

#main-menu .selected, #toc-menu .selected h3 {
	font-weight: bold;
}

#main-menu nav {
	/*margin-top: 1em;*/
}

#main-nav, #toc-menu nav {
	position: relative;
	top: 1em;
}

/*TOGGLES*/
.toggle {
	display: inline-block;
	height: .7em;
	width: .7em;
	border: 1px solid black;
	margin-right: .3em;
}

#toggle1 {
	background: white;
}

#toggle2 {
	background: black;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1250px) {
	body{
		/*display: none;*/
		margin: 0;
	}

	#right-margin, #essay-right {
		flex: 0;
	}

}

@media screen and (max-width: 900px) {
	#text-container {
		flex-direction: column;
		flex: 4;
	}
	#piece-nav-left {
		display: none;
	}
	#piece-nav-right {
		display: block;
	}

	/*hide sidebar*/

	#bottom {
		display: none;
	}

	#main-nav, #toc-menu {
		opacity: 0;
	}

	#main-menu {
		grid-column: 1 / 3;
	}

	#sidebar {
		flex: 1.25;
	} 
}
/*
@media screen and (max-width: 640px) {
	.text-container {
		width: 100%;
	}

	.header nav {
		display: none;
	}

	.toggle:checked ~ nav {
		display: flex;
	}

	.expanding-menu {
		display: block;
	}

	.lbl-toggle {
		display: block;
		flex: 1;
	}

	.header nav a {
		text-align: center;
		font-size: 1.5em;
		margin-bottom: .5em;
	}
}*/


